.background_voiture {
background-image: url(https://images.unsplash.com/photo-1576172474782-567d7ca1975b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
background-size: cover;
background-position: inherit;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
  padding: 2em;
  margin: 0 auto;
}

.hero-row {
display: flex;
justify-content: space-between;
}

.hero-row h1 {
  font-size: clamp(2rem, 3vw, 5rem);
  font-weight: 900;
  margin: 0 0 1em;
  line-height: .8;
  color: #fff;
}

.hero-row p {
  width: clamp(100px, 80%, 30rem);
  color: #fff;
}

.hero-row a {
  width: clamp(200px, 80%, 40rem);
  display: inline-block;
}

.btn-kaki.variant{
  margin-left: 0;
  text-decoration: none;
}

  .container-map{
    display: flex;
    justify-content: space-between;
    height: 100vh;

  }
  .container-homemaptext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-homemaptext h2{
    width: clamp(150px, 90%, 20rem);
    color: #fff;
    font-size: 36px;

  }
  .container-homemaptext li{
    width: clamp(100px, 80%, 30rem);
    color: #fff;
    font-size: 22px;

  }
.scroller{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.scroller section {
  scroll-snap-align: start;
  height: 100vh;
}
.scrollbas
{
position: fixed;
bottom : 10px;
left: 50%;
mix-blend-mode: multiply;
}
.scrollbas img {
height: 40px;
width: 50px;
}
