.h1-index{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 25px;
  color: #474747;
  text-shadow: 1px 2px 1px rgba(71, 71, 71, 0.3);
}

.grid-index{
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 10px
}

.deco-none{
  text-decoration: none;
  color: #111;
}

.deco-none:hover{
  color: #6b6c64;
}

.flexmoica {
  display: flex;
}



@media (max-width: 990px) {
  /* styles pour les écrans de moins de 990x de largeur */
  .h1-index{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
    color: #474747;
    text-shadow: 1px 2px 1px rgba(71, 71, 71, 0.3);
  }

  .grid-index{
    padding: 1em;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 15px
  }

}
