.h1-index{
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #474747;
  text-shadow: 1px 2px 1px rgba(71, 71, 71, 0.3);
}

.grid-index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1400px;
  margin: 0 auto;
}

.deco-none{
  text-decoration: none;
  color: #111;
}

.deco-none:hover{
  color: #6b6c64;
}

@media (max-width: 1400px) {
  /* styles pour les écrans de moins de 768px de largeur */
  .grid-index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1050px;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  /* styles pour les écrans de moins de 768px de largeur */
  .grid-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  /* styles pour les écrans de moins de 768px de largeur */
  .grid-index{
    display: block;
    width: 100%;

  }
}
