<h1>Nos Composants très tchatcheur</h1>


<div class="btn-blanc"><%=link_to "home", root_path %></div>
<div class="btn-kaki"><%=link_to "home", root_path %></div>
<div class="card-trp"> Mes Garages </div>
<div class="card-trp"> Mes Favoris </div>
<div class="card-trp"> Mes Locations </div>
