<h1>Nos Composants très tchatcheur</h1>


<div class="btn-noir"><%=link_to "home", root_path %></div>

<div class="btn-kaki"><%=link_to "Eva", root_path %></div>

<div class="card-trp"> Mes Garages </div>
<div class="card-trp"> Mes Favoris </div>
<div class="card-trp"> Mes Locations </div>

<div class="test">
  <div class="card-garage">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-garage-infos">
      <div>
        <h2>Place parking couverte</h2>
        <p>Lille, France</p>
      </div>
      <h2 class="card-garage-pricing">150€</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-garage-user avatar-bordered" />
    </div>
  </div>

  <div class="card-garage">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-garage-infos">
      <div>
        <h2>Place parking couverte</h2>
        <p>Lille, France</p>
      </div>
      <h2 class="card-garage-pricing">150€</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-garage-user avatar-bordered" />
    </div>
  </div>

</div>
