
<div class="image">
  <!------Hero benner ------>
  <div class="container">
    <div class="hero-row">
      <div class="texte">
        <h1>Un garage pour tous !</h1>
        <p> Où que vous soyez, un garage vous attend. Dès maintenant, trouver la place de parking peu importe l'endroit où vous êtes</p>
        <a href=garages class="btn-kaki variant">Réserver</a>
      </div>
    </div>
  </div>
  <!------END Hero benner ------>
</div>
<!------Explanation ADN------>
