

  <div class="background_voiture">
    <!------Hero benner ------>
    <div class="container">
      <div class="hero-row">
        <div class="texte">
          <h1>Un garage pour tous !</h1>
          <p> Où que vous soyez, un garage vous attend. Dès maintenant, trouver la place de parking peu importe l'endroit où vous êtes</p>
          <a href=garages class="btn-kaki variant">Réserver</a>
        </div>
      </div>
    </div>
    <!------END Hero benner ------>
  </div>
  <!------Explanation ADN------>

  <!------START MAP------>
  <div class="container-map">
    <div style="width: 65%; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="container-homemaptext">
      <h2> Les Avantages de Garage Band </h2>
      <ul>
        <li> Présent sur l'ensemble du térritoire </li>
        <li> Prix attractif </li>
        <li> Location courte ou longue durée</li>
      </ul>
    </div>
  </div>
