.btn-resa-gris {
  background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
  margin: 10px;
  padding-top: 3px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: block;
  width: 112px;
  height: 34px;
}

.btn-resa-gris:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
