.card-trp {
  width: 967px;
  height: 266px;
  background-color: rgba(255, 255, 255, 0.642);
  border-radius: 30px;
  text-align: left;
  padding-left: 5%;
  margin-left: 1%;
  margin-bottom: 1%;
}

///////////////////////////////////////////////////////////////////

.card-garage {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  height: 400px;
  margin: 10px;
}

.card-garage > img {
  height: 320px;
  width: 300px;
  object-fit: cover;
}

.card-garage h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-garage p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-garage .card-garage-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-garage-infos .card-garage-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
