.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff99;
  font-family: 'Abhaya Libre';
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: $headers-font;
  margin-right: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-lewagon p {
  font-size: x-large;
  font-family: $headers-font;
  color: #696969;
}
