.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff53;
  font-family: $headers-font;
  font-size: large;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: $headers-font;
  margin-right: 10px;
}

.navbar-lewagon p {
  font-size: small;
  font-family: $headers-font;
  color: #696969;
}


////////////////////////////////////////////////////////////////
